[Unit]
Description=Neutron DVS Plugin Agent
After=syslog.target network.target
Before=openstack-nova-compute.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-dvs-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugin.ini --config-file /etc/neutron/plugins/ml2/vmware_dvs-vcenter-vmware.ini --log-file /var/log/neutron/vmware-dvs-agent-vcenter-vmware.log 
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

